.login-not-user{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ffff;
}
.box-ap{
   display: flex;
   flex-direction: column;
   
}
.title-login{
   position: relative;
   padding: 10px 20px;
   top: 50px;
   font-size: 20px;
   font-weight: 600;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: #52b1ffdd;
   color: #ffff;
   border-radius: 10px;
   text-align: center;
}
.title-login a{
   color: #ffff;
}
.lo-lo{
   position: relative;
   top: 0;
   display: flex;
   align-items: center;
   justify-content: center; 
   color: #9e9e9e;
}
p{
   z-index: 999;
   color: rgb(201, 201, 201);
   font-size: 13px;
}
