.box-l-load{
   position: fixed;
   background-color: rgba(199, 199, 199, 0.4);
   backdrop-filter: blur(2px);
   top:0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   z-index: 99;
}
.flex-center-load{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
}

.show-al{
   z-index: 1000;
   background: #eeee;
}