.m-li-pf{
   position: relative;
   top: 20px;
   width: 280px;
}
.m-li-pf li{
   position: relative;
   margin-bottom: 10px;
   list-style: none;
   left: 15px;
}
.btn-ev-m-pf{
   color: var(--color-f-pf);
}
/* .btn-ev-m-pf:hover{
   width: 100%;
   display: inline-block;
   background-color: rgba(43, 43, 43, 0.3);
   backdrop-filter: blur(20px);
   filter: drop-shadow( 0 2px 6px rgba(0, 0, 0, 0.2));
} */
.btn-ev-m-pf.active{
   position: relative;
   color: #9700de;

}
.btn-ev-m-pf.active::before{
   content: '';
   color: #9700de;
   position: absolute;
   left: -15px;
   background: #9700de;
   width: 4px;
   height: 20px;
}