@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200&display=swap');
body{
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Kodchasan', sans-serif;
  background: #f1f4fa;
  -webkit-tap-highlight-color: transparent;
}